.imagen{
  background-image: url(../imagen.jpg);
  background-position: 50%;
  height: 500px;
}


.shadow{
  margin-top: -170px; 
  background: hsla(0, 0%, 100%, 0.7); 
  backdrop-filter: blur(30px);
}